* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
}

.screen {
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;
	position: relative;
}

.screen::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.logo{
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;

}

.nav-bar {
	margin: 1rem 0;
}

.nav-bar ul {
	list-style: none;
	font-size: 0;
}

.nav-bar li {
	display: inline-block;
	font-size: 16px;
    margin-right: 10px;
}

.nav-bar a {
	display: inline-block; /* applicato qui per aumentare l'area cliccabile del link */
	padding: 1em 1.1em;
	text-decoration: none;
	text-transform: uppercase;
    color: black;
}

.nav-bar a:hover {
	background-color: lightgrey;
}

.secondaparte{
    float: right;
    position: relative;
    bottom: 50px;
    right: 10px;
}

.intestazione{
    /* position: fixed; */
    z-index: 999;
    background-color: white;
}

.primapagina{
    background-color:#B4D0E7;
}